## Import Libraries

In [51]:
# Load libraries
import datetime
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.preprocessing import OneHotEncoder
# User libraries
import Features as ft

In [13]:
%load_ext autoreload
%autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Load Data

In [4]:
# Load dataframe
df = features.load_dataframe()
df

,AwayTeam,Date,Div,FTAG,FTHG,FTR,HomeTeam,Source,Season,AC,...,HC,HF,HR,HS,HST,HTAG,HTHG,HTR,HY,Referee
0,Aston Villa,2015-08-08,E0,1.0,0.0,A,Bournemouth,football-data-uk,1516,3.0,...,6.0,13.0,0.0,11.0,2.0,0.0,0.0,D,3.0,M Clattenburg
1,Swansea,2015-08-08,E0,2.0,2.0,D,Chelsea,football-data-uk,1516,8.0,...,4.0,15.0,1.0,11.0,3.0,1.0,2.0,H,1.0,M Oliver
2,Watford,2015-08-08,E0,2.0,2.0,D,Everton,football-data-uk,1516,2.0,...,8.0,7.0,0.0,10.0,5.0,1.0,0.0,A,1.0,M Jones
3,Sunderland,2015-08-08,E0,2.0,4.0,H,Leicester,football-data-uk,1516,3.0,...,6.0,13.0,0.0,19.0,8.0,0.0,3.0,H,2.0,L Mason
4,Tottenham,2015-08-08,E0,0.0,1.0,H,Man United,football-data-uk,1516,2.0,...,1.0,12.0,0.0,9.0,1.0,0.0,1.0,H,2.0,J Moss
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17703,Fulham,2008-05-11,E0,1.0,0.0,A,Portsmouth,football-data-uk,0708,6.0,...,5.0,13.0,0.0,15.0,10.0,0.0,0.0,D,0.0,M Clattenburg
17704,Arsenal,2008-05-11,E0,1.0,0.0,A,Sunderland,football-data-uk,0708,4.0,...,3.0,14.0,0.0,13.0,5.0,1.0,0.0,A,1.0,K Stroud
17705,Liverpool,2008-05-11,E0,2.0,0.0,A,Tottenham,football-data-uk,0708,4.0,...,8.0,11.0,0.0,6.0,3.0,0.0,0.0,D,1.0,U Rennie
17706,Aston Villa,2008-05-11,E0,2.0,2.0,D,West Ham,football-data-uk,0708,8.0,...,7.0,9.0,0.0,16.0,8.0,1.0,1.0,D,2.0,M Dean
17707,Man United,2008-05-11,E0,2.0,0.0,A,Wigan,football-data-uk,0708,12.0,...,5.0,10.0,0.0,15.0,6.0,1.0,0.0,A,3.0,S Bennett

In [5]:
# Check missing data
missing_df = df.isna()
missing_df.apply(sum,axis='rows')

AwayTeam    0
Date        0
Div         0
FTAG        0
FTHG        0
FTR         0
HomeTeam    0
Source      0
Season      0
AC          0
AF          0
AR          0
AS          0
AST         0
AY          0
HC          0
HF          0
HR          0
HS          0
HST         0
HTAG        0
HTHG        0
HTR         0
HY          0
Referee     0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17708 entries, 0 to 17707
Data columns (total 25 columns):
AwayTeam    17708 non-null object
Date        17708 non-null datetime64[ns]
Div         17708 non-null object
FTAG        17708 non-null float64
FTHG        17708 non-null float64
FTR         17708 non-null object
HomeTeam    17708 non-null object
Source      17708 non-null object
Season      17708 non-null object
AC          17708 non-null float64
AF          17708 non-null float64
AR          17708 non-null float64
AS          17708 non-null float64
AST         17708 non-null float64
AY          17708 non-null float64
HC          17708 non-null float64
HF          17708 non-null float64
HR          17708 non-null float64
HS          17708 non-null float64
HST         17708 non-null float64
HTAG        17708 non-null float64
HTHG        17708 non-null float64
HTR         17708 non-null object
HY          17708 non-null float64
Referee     17708 non-null object
dtypes: datetime64[ns](1), float64(16), object(8)
memory usage: 3.4+ MB

## Summary Statitistics

In [7]:
# Describe numerical columns
df.describe()

,FTAG,FTHG,AC,AF,AR,AS,AST,AY,HC,HF,HR,HS,HST,HTAG,HTHG,HY
count,17708.000000,17708.000000,17708.000000,17708.000000,17708.000000,17708.000000,17708.000000,17708.000000,17708.00000,17708.000000,17708.000000,17708.000000,17708.000000,17708.000000,17708.000000,17708.000000
mean,1.129546,1.487237,4.830966,12.164287,0.098771,10.341093,4.702155,1.736491,6.11603,11.536358,0.065116,13.140916,6.004834,0.491696,0.657740,1.361282
std,1.090288,1.243453,2.662541,3.976644,0.317968,4.312221,2.672830,1.281925,3.00947,3.823368,0.258576,4.893532,3.122735,0.705677,0.811694,1.160620
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,3.000000,9.000000,0.000000,7.000000,3.000000,1.000000,4.00000,9.000000,0.000000,10.000000,4.000000,0.000000,0.000000,0.000000
50%,1.000000,1.000000,5.000000,12.000000,0.000000,10.000000,4.000000,2.000000,6.00000,11.000000,0.000000,13.000000,6.000000,0.000000,0.000000,1.000000
75%,2.000000,2.000000,6.000000,15.000000,0.000000,13.000000,6.000000,3.000000,8.00000,14.000000,0.000000,16.000000,8.000000,1.000000,1.000000,2.000000
max,8.000000,9.000000,19.000000,35.000000,3.000000,35.000000,20.000000,9.000000,22.00000,33.000000,3.000000,43.000000,27.000000,5.000000,6.000000,11.000000

## Feature Engineering

In [17]:
# Feature table filters
valid_seasons = ['0809','0910','1011','1112','1213','1314','1415','1516','1617','1718','1819'] # Valid seasons
valid_divs = ['E0'] # Valid division
keep_cols = ['HomeTeam','AwayTeam','Date','Season','Div','FTR'] # Keep columns
# Create feature table
feature_df = df.copy()
feature_df = feature_df[(feature_df['Season'].isin(valid_seasons)) & (feature_df['Div'].isin(valid_divs))]
feature_df = feature_df.filter(keep_cols)
# Add feature variables
feature_df['home_prev_8_draw'] = feature_df.apply(lambda x: ft.prev_n_draw(df,team=x['HomeTeam'],n=8,date=x['Date'],homeaway='both'),axis=1)
feature_df['home_prev_8_gc'] = feature_df.apply(lambda x: ft.prev_n_gc(df,team=x['HomeTeam'],n=8,date=x['Date'],homeaway='both'),axis=1)
feature_df['home_prev_8_gs'] = feature_df.apply(lambda x: ft.prev_n_gs(df,team=x['HomeTeam'],n=8,date=x['Date'],homeaway='both'),axis=1)
feature_df['away_prev_8_draw'] = feature_df.apply(lambda x: ft.prev_n_draw(df,team=x['AwayTeam'],n=8,date=x['Date'],homeaway='both'),axis=1)
feature_df['away_prev_8_gc'] = feature_df.apply(lambda x: ft.prev_n_gc(df,team=x['AwayTeam'],n=8,date=x['Date'],homeaway='both'),axis=1)
feature_df['away_prev_8_gs'] = feature_df.apply(lambda x: ft.prev_n_gs(df,team=x['AwayTeam'],n=8,date=x['Date'],homeaway='both'),axis=1)
feature_df['prev_8_most_wins'] = feature_df.apply(lambda x: ft.prev_n_most_wins(df,homeTeam=x['HomeTeam'],awayTeam=x['AwayTeam'],n=8,date=x['Date'],homeaway='both'),axis=1)
feature_df['prev_8_matchup_wins'] = feature_df.apply(lambda x: ft.prev_n_matchup_wins(df,homeTeam=x['HomeTeam'],awayTeam=x['AwayTeam'],n=8,date=x['Date'],homeaway='both'),axis=1)
feature_df # Show

,HomeTeam,AwayTeam,Date,Season,Div,FTR,home_prev_8_draw,home_prev_8_gc,home_prev_8_gs,away_prev_8_draw,away_prev_8_gc,away_prev_8_gs,prev_8_most_wins,prev_8_matchup_wins
0,Bournemouth,Aston Villa,2015-08-08,1516,E0,A,2,5.0,19.0,1,18.0,12.0,Home,Neither
1,Chelsea,Swansea,2015-08-08,1516,E0,D,2,6.0,10.0,1,11.0,12.0,Home,Home
2,Everton,Watford,2015-08-08,1516,E0,D,1,8.0,10.0,2,5.0,13.0,Away,Home
3,Leicester,Sunderland,2015-08-08,1516,E0,H,1,6.0,17.0,3,9.0,8.0,Home,Away
4,Man United,Tottenham,2015-08-08,1516,E0,H,2,10.0,10.0,2,8.0,8.0,Neither,Home
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16771,Newcastle,West Brom,2011-05-22,1011,E0,D,3,13.0,9.0,2,14.0,14.0,Away,Home
16772,Stoke,Wigan,2011-05-22,1011,E0,A,3,9.0,14.0,3,11.0,12.0,Neither,Home
16773,Tottenham,Birmingham,2011-05-22,1011,E0,H,4,11.0,12.0,2,15.0,8.0,Neither,Home
16774,West Ham,Sunderland,2011-05-22,1011,E0,A,2,18.0,7.0,0,21.0,9.0,Away,Home
16775,Wolves,Blackburn,2011-05-22,1011,E0,A,2,14.0,10.0,5,8.0,6.0,Home,Away

In [11]:
# Import libraries
from sklearn.preprocessing import OneHotEncoder

In [49]:
cat_feature = feature_df.dtypes[feature_df.dtypes == object].keys()
cat_feature = cat_feature.drop(['HomeTeam','AwayTeam','Season','Div','FTR'])
cat_feature

Index(['prev_8_most_wins', 'prev_8_matchup_wins'], dtype='object')

In [54]:
# Prepare data for training
cat_feature = feature_df.dtypes[feature_df.dtypes == object].keys()
cat_feature = cat_feature.drop(['HomeTeam','AwayTeam','Season','Div','FTR'])
# Encode categorical features using One-Hot-Encoding
encoder = OneHotEncoder()
cat_1hot_mtx = encoder.fit_transform(feature_df[cat_feature])
cat_1hot_df = pd.DataFrame(cat_1hot_mtx.todense(),columns=encoder.get_feature_names(),index=feature_df.index) # Convert to dataframe
cat_1hot_df

       x0_Away  x0_Home  x0_Neither  x1_Away  x1_Home  x1_Neither
0          0.0      1.0         0.0      0.0      0.0         1.0
1          0.0      1.0         0.0      0.0      1.0         0.0
2          1.0      0.0         0.0      0.0      1.0         0.0
3          0.0      1.0         0.0      1.0      0.0         0.0
4          0.0      0.0         1.0      0.0      1.0         0.0
...        ...      ...         ...      ...      ...         ...
16771      1.0      0.0         0.0      0.0      1.0         0.0
16772      0.0      0.0         1.0      0.0      1.0         0.0
16773      0.0      0.0         1.0      0.0      1.0         0.0
16774      1.0      0.0         0.0      0.0      1.0         0.0
16775      0.0      1.0         0.0      1.0      0.0         0.0

[4180 rows x 6 columns]

In [55]:
# Append one-hot encoded features
feature_df = pd.concat([feature_df,cat_1hot_mtx],axis=1)
feature_df

,HomeTeam,AwayTeam,Date,Season,Div,FTR,home_prev_8_draw,home_prev_8_gc,home_prev_8_gs,away_prev_8_draw,away_prev_8_gc,away_prev_8_gs,prev_8_most_wins,prev_8_matchup_wins,x0_Away,x0_Home,x0_Neither,x1_Away,x1_Home,x1_Neither
0,Bournemouth,Aston Villa,2015-08-08,1516,E0,A,2,5.0,19.0,1,18.0,12.0,Home,Neither,0.0,1.0,0.0,0.0,0.0,1.0
1,Chelsea,Swansea,2015-08-08,1516,E0,D,2,6.0,10.0,1,11.0,12.0,Home,Home,0.0,1.0,0.0,0.0,1.0,0.0
2,Everton,Watford,2015-08-08,1516,E0,D,1,8.0,10.0,2,5.0,13.0,Away,Home,1.0,0.0,0.0,0.0,1.0,0.0
3,Leicester,Sunderland,2015-08-08,1516,E0,H,1,6.0,17.0,3,9.0,8.0,Home,Away,0.0,1.0,0.0,1.0,0.0,0.0
4,Man United,Tottenham,2015-08-08,1516,E0,H,2,10.0,10.0,2,8.0,8.0,Neither,Home,0.0,0.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16771,Newcastle,West Brom,2011-05-22,1011,E0,D,3,13.0,9.0,2,14.0,14.0,Away,Home,1.0,0.0,0.0,0.0,1.0,0.0
16772,Stoke,Wigan,2011-05-22,1011,E0,A,3,9.0,14.0,3,11.0,12.0,Neither,Home,0.0,0.0,1.0,0.0,1.0,0.0
16773,Tottenham,Birmingham,2011-05-22,1011,E0,H,4,11.0,12.0,2,15.0,8.0,Neither,Home,0.0,0.0,1.0,0.0,1.0,0.0
16774,West Ham,Sunderland,2011-05-22,1011,E0,A,2,18.0,7.0,0,21.0,9.0,Away,Home,1.0,0.0,0.0,0.0,1.0,0.0
16775,Wolves,Blackburn,2011-05-22,1011,E0,A,2,14.0,10.0,5,8.0,6.0,Home,Away,0.0,1.0,0.0,1.0,0.0,0.0

In [58]:
# Drop original categorical features
feature_df = feature_df.drop(cat_feature, axis=1)
feature_df

,HomeTeam,AwayTeam,Date,Season,Div,FTR,home_prev_8_draw,home_prev_8_gc,home_prev_8_gs,away_prev_8_draw,away_prev_8_gc,away_prev_8_gs,x0_Away,x0_Home,x0_Neither,x1_Away,x1_Home,x1_Neither
0,Bournemouth,Aston Villa,2015-08-08,1516,E0,A,2,5.0,19.0,1,18.0,12.0,0.0,1.0,0.0,0.0,0.0,1.0
1,Chelsea,Swansea,2015-08-08,1516,E0,D,2,6.0,10.0,1,11.0,12.0,0.0,1.0,0.0,0.0,1.0,0.0
2,Everton,Watford,2015-08-08,1516,E0,D,1,8.0,10.0,2,5.0,13.0,1.0,0.0,0.0,0.0,1.0,0.0
3,Leicester,Sunderland,2015-08-08,1516,E0,H,1,6.0,17.0,3,9.0,8.0,0.0,1.0,0.0,1.0,0.0,0.0
4,Man United,Tottenham,2015-08-08,1516,E0,H,2,10.0,10.0,2,8.0,8.0,0.0,0.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16771,Newcastle,West Brom,2011-05-22,1011,E0,D,3,13.0,9.0,2,14.0,14.0,1.0,0.0,0.0,0.0,1.0,0.0
16772,Stoke,Wigan,2011-05-22,1011,E0,A,3,9.0,14.0,3,11.0,12.0,0.0,0.0,1.0,0.0,1.0,0.0
16773,Tottenham,Birmingham,2011-05-22,1011,E0,H,4,11.0,12.0,2,15.0,8.0,0.0,0.0,1.0,0.0,1.0,0.0
16774,West Ham,Sunderland,2011-05-22,1011,E0,A,2,18.0,7.0,0,21.0,9.0,1.0,0.0,0.0,0.0,1.0,0.0
16775,Wolves,Blackburn,2011-05-22,1011,E0,A,2,14.0,10.0,5,8.0,6.0,0.0,1.0,0.0,1.0,0.0,0.0

In [64]:
# Export feature table to file
feature_df.to_csv("../Data/Features/features_{}.csv".format(datetime.datetime.now().strftime("%Y%m%d")))